@import url("styles/header.css");
@import url("styles/dia-semana.css");
@import url("styles/cards.css");

:root{
    --cor-fundo: #E5E5E5;
    --cor-fundo-card: #FFFFFF;
    --cor-fonte-primaria:#464646;
    --cor-fonte-secundaria:#A3A3A3;
    --cor-fonte-terciaria: #FFFFFF;
    --cor-botao-video: #FFB050;
    --cor-botao-audio: #FFFFFF;
    --cor-borda-botao-audio: #ECECEC;
    --fonte-principal: "Montserrat", sans-serif;
;}

body{
    background-color: var(--cor-fundo);
}
