.container__card-um, 
    .container__card-dois, 
    .container__card-tres{
        display:flex;
        flex-direction: column;
}


.card{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 1em 10% 0em 8%;
    padding: 5% 5% 5% 5%;
    border-radius: 0.5em;
}
   
.card__linha-um{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
}

.card__linha-dois{
    display:flex;
    flex-direction: column;
    gap: 0.8em;
}

.primeira__divisao-card{
    display:flex;
    flex-direction: column;
    margin-right: 4em;
    gap: 0.2rem;
}

.nome__usuario{
    font-family: var(--fonte-principal);
    font-weight: 700;
    color: var(--cor-fonte-primaria);
    font-size: 0.9rem;
}

.titulo__consulta{
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 0.75rem;
    color: var(--cor-fonte-secundaria);
}

.segunda__divisao-card{
    display: flex;
    gap: 0.5em;
}

.horarios__chamada{
    font-family: var(--fonte-principal);
    font-weight: 500;
    font-size: 0.75rem;
}

.botoes__chamada{
    display: flex;
    justify-content: flex-start;
    gap: 3em;
    align-items: center;
}

.botao__video{
    text-align: center;
    font-family: var(--fonte-principal);
    font-weight: 500;
    font-size: 0.75rem;
    color: var(--cor-fonte-terciaria);
    background-color: var(--cor-botao-video);
    padding: 1em 1em 1em 1em;
    border-radius: 0.5em;

}

.botao__audio{
    text-align: center;
    font-family: var(--fonte-principal);
    font-weight: 500;
    font-size: 0.75rem;
    color: var(--cor-fonte-primaria);
    background-color: var(--cor-botao-audio);
    padding: 1em 1em 1em 1em;
    border-radius: 0.5em;
    border: 1px solid var(--cor-borda-botao-audio);
}

.botao__endereco{

    font-family: var(--fonte-principal);
    font-weight: 500;
    font-size: 0.75rem;
    background-color: var(--cor-botao-endereco);
    padding: 1em 1em 1em 1em;
    color: var(--cor-fonte-terciaria);
    border-radius: 0.5em;
    width: 100%;
    text-align: center;

}


@media screen and (min-width: 768px){

    .container__card-um, 
    .container__card-dois, 
    .container__card-tres{

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }

    .card{
        width: 40%;
        margin: 2% 2% 2% 2%;
        padding: 3% 3% 3% 3%;
    }

    .card__linha-um{
        justify-content: flex-start;
        gap: 1rem;
        width: 100%;
    }

    .foto__perfil-usuario{
        width: 2.8rem;
        height: 2.8rem;
    }
    
    .primeira__divisao-card{
        margin-right: 4rem;
        gap: 0.2rem;
    } 


    .nome__usuario{
        font-size: 1rem;
    }

    .icone__chamada{
        width: 12%;
        height:12%;
    }

    .titulo__consulta{
        font-size: 0.78rem;
    }

    .icone__mensagem{
        width: 2.2rem;
        height: 2.4rem;
    }

    .horarios__chamada{
        font-size: 0.78rem;
    }


    .botao__endereco{
        font-size: 0.85rem;
    }

    .botao__video{
        font-size: 0.85rem;
        padding: 1em 0.80em 1em 0.80em;
    }

    .botao__audio{
        font-size: 0.85rem;
        padding: 1em 0.80em 1em 0.80em;
    }
}

@media screen and (min-width: 1024px){
    
    .card{
        padding: 3% 3% 3% 3%;
    }

    .botao__endereco{
        width: 75%;
    }

    .card__linha-um{
        padding-left: 10%;
    }

    .card__linha-dois{  
        padding-left: 10%;
    }
}

