.card{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 1em 10% 0em 8%;
    padding: 5% 5% 5% 5%;
    border-radius: 0.5em;
}
   
.card__linha-um{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
}

.card__linha-dois{
    display:flex;
    flex-direction: column;
    gap: 0.8em;
}

.primeira__divisao-card{
    display:flex;
    flex-direction: column;
    margin-right: 4em;
}

.nome__usuario{
    font-family: var(--fonte-principal);
    font-weight: 700;
    color: var(--cor-fonte-primaria);
    font-size: 0.9em;
}

.titulo__consulta{
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 0.75em;
    color: var(--cor-fonte-secundaria);
}

.segunda__divisao-card{
    display: flex;
    gap: 0.5em;
}

.horarios__chamada{
    font-family: var(--fonte-principal);
    font-weight: 500;
    font-size: 0.75em;
}

.botoes__chamada{
    display: flex;
    justify-content: flex-start;
    gap: 3em;
    align-items: center;
}

.botao__video{
    text-align: center;
    font-family: var(--fonte-principal);
    font-weight: 500;
    font-size: 0.75em;
    color: var(--cor-fonte-terciaria);
    background-color: var(--cor-botao-video);
    padding: 1em 1em 1em 1em;
    border-radius: 0.5em;

}

.botao__audio{
    text-align: center;
    font-family: var(--fonte-principal);
    font-weight: 500;
    font-size: 0.75em;
    color: var(--cor-fonte-primaria);
    background-color: var(--cor-botao-audio);
    padding: 1em 1em 1em 1em;
    border-radius: 0.5em;
    border: 1px solid var(--cor-borda-botao-audio);
}