.cabecalho__container{
    display: flex;
    gap: 1em;
    padding: 3em 0em 0em 2em;
    align-items: center;
}

.dados__medico{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.titulo__perfil{
    font-family: var(--fonte-principal);
    font-weight: 900;
    font-size: 1.2rem;
    color: var(--cor-fonte-primaria);
}

.notificacoes__perfil{ 
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 0.9rem;
    color: var(--cor-fonte-secundaria);
}


@media screen and (min-width: 768px){

    .cabecalho__container .foto__perfil-usuario{
        width: 4.5em;
        height: 4.5rem;
    }

    .titulo__perfil{
        font-size: 1.25em;
    }
      
    .notificacoes__perfil{
        font-size: 1rem;
    }
}

@media screen and (min-width: 1024px){
    
}