.container__menu-mobile{
    position: fixed;
    bottom: 0;
    left: 0;
    width:100%;
    background-color: var(--cor-menu-mobile);
    padding:  2% 0% 2% 0; 
    border-radius: 20px 20px 0px 0px;
}

.lista__menu-mobile{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.item__menu-mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.texto__menu-mobile{
    font-family: var(--fonte-principal);
    font-size: 0.9rem;
    color: var(--cor-fonte-primaria);
}

.link__menu-mobile{
    text-decoration: none;
    color: var(--cor-fonte-primaria);
}

.botao__flutuante-imagem{
    position: absolute;
    bottom: 100%;
    right: 0%;
    cursor: pointer;
    width: 20%;
    height: 110%;
    background-image: url('../img/botao-flutuante.svg');
    background-size: cover;
    background-position: center;  
    border: none;
    outline: none;
    background-color: transparent;

}

.extra-buttons {
    position: fixed;
    bottom: 14%;
    right: 0px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
}

.extra-buttons button {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
}

.extra-buttons button span {
    background-color: white;
    border: 0.1px groove var(--cor-fonte-primaria);
    padding: 0.3em;
    border-radius: 1em;
    font-family: var(--fonte-principal);
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--cor-fonte-primaria);
    flex-shrink: 0; /* Impede o texto de encolher */
    margin-right:5.5em;
}

.botao__flutuante-imagem2 {
    background-image: url('../img/botao-flutuante2.svg');
    background-size: cover;
    background-position: center;
    width: 6em; /* Ajuste a largura conforme necessário */
    height: 6em; /* Ajuste a altura conforme necessário */
}

.botao__flutuante-imagem3 {
    background-image: url('../img/botao-flutuante3.svg');
    background-size: cover;
    background-position: center;
    width: 6em; /* Ajuste a largura conforme necessário */
    height: 6em; /* Ajuste a altura conforme necessário */
}




.overlay {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
    z-index: 10;

}


.show-overlay {
    opacity: 1;
    visibility: visible;
}